{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Drug</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Save Drug</button>
    {{ form_end(form) }}
{% endblock %}
