{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appointment Journal</h1>
    <ul>
        <li><a href="{{ path('app_client_new') }}">Add Client</a></li>
        <li> <a href="{{ path('app_patient_new') }}">Add Patient</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('add_examination') }}">Add Examination</a></li>
            <li><a href="{{ path('add_drug') }}">Add Drug</a></li>
        {% endif %}
    </ul>
{% endblock %}
